body
  .left
    .left-hover
      h2.club1 熱音社
      .mxhm
        h3 民雄熱音社
        p 　　民雄熱音社，全名「民雄熱門音樂社」，從民國99年創社以來，已有許多優秀的前輩活躍在音樂界，包含音響工程、混音工程、MIDI作曲等，社團專注於培養社員專業能力，讓有興趣的人能夠有管道接觸大前輩，當然，上面大部分是唬爛的。
        p 　　如果有人想要加社團或是純粹當琴房練習，撥打0986-288-115，交完社費就可以隨便你練，只要不要把樂器用壞都可以。
        .left-button.btnWebsite     
          a(href='https://www.facebook.com/MXpopmusic/', target='_blank') 粉絲專頁
      
  .right
    .right-hover
      h2.club2 國樂社
      .sigu
        h3 漱音國樂社
        p 　　漱音國樂社的命名是「漱.音」，希望能夠將樂句如輕含在嘴中，細細品嘗樂音，並表現出優美的樂曲。社團創立之始為師範院校體系，每年代表學校參加師範組比賽獲得佳績，併校後社團運作也相當良好，是嘉大社團的好選擇。
        p 　　109學年度社員招募中，極度缺乏「胡琴、大提琴」，如果會其它樂器也歡迎加入，有興趣請撥打0986-288-115，將會提供最詳細的說明。
        .right-button.btnWebsite     
          a(href='https://www.facebook.com/%E5%98%89%E5%A4%A7%E6%BC%B1%E9%9F%B3%E5%9C%8B%E6%A8%82%E7%A4%BE-583635111698936/', target='_blank') 粉絲專頁
      
  .center
    a.logo
    .inner-c
      .trio1
      .trie2
      .trio3
      .trie4
      .trio5
      .trie6
      .trio7
      .trie8
      .trio9
      .trie10
      .trio11
      .trie12
    .center-c
      .trio13
      .trie14
      .trio15
      .trie16
      .trio17
      .trie18
      .trio19
      .trie20
      .trio21
      .trie22
      .trio23
      .trie24
    .outer-c
      .trio25
      .trie26
      .trio27
      .trie28
      .trio29
      .trie30
      .trio31
      .trie32
      .trio33
      .trie34
      .trio35
      .trie36
      
#sign
  p 2019, 歐的髂子
